<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Teleheal"
        tools:targetApi="31">
        <activity
            android:name=".Edit_Profile"
            android:exported="false" />
        <activity
            android:name=".Nearby_Hospitals"
            android:exported="false" />
        <activity
            android:name=".Emergency"
            android:exported="false" />
        <activity
            android:name=".Appointments"
            android:exported="false" />
        <activity
            android:name=".Cart"
            android:exported="false" />
        <activity
            android:name=".Lab_Test_Details"
            android:exported="false" />
        <activity
            android:name=".LabTest"
            android:exported="false" />
        <activity
            android:name=".Book_appointment"
            android:exported="false" />
        <activity
            android:name=".Buy_Medicine_Details"
            android:exported="false" />
        <activity
            android:name=".Buy_Medicine"
            android:exported="false" />
        <activity
            android:name=".HealthArticle"
            android:exported="false" />
        <activity
            android:name=".HealthArticleDetails"
            android:exported="false" />
        <activity
            android:name=".Alerter"
            android:exported="false" />
        <activity
            android:name=".DoctorDetails"
            android:exported="false" />
        <activity
            android:name=".FindDoctor"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyASJVqbNv_u_btDOuSSH9hikHgtO6bvM3w" />

        <receiver
            android:name=".Alarm"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>